<template>
    <button v-if="type === 'button'" class="btn" @click="$emit('click')" :class="clazz">
        <slot />
    </button>
    <router-link v-else :to="to" class="btn" :class="clazz">
        <slot />
    </router-link>
</template>

<script setup lang="ts">
import { defineProps, defineEmit, computed } from 'vue'

const props = defineProps({
    to: String,
    color: {
        type: String,
        default: 'green',
    },
})

const clazz = computed(() => 'btn-' + props.color)

const type = computed(() => (props.to === undefined ? 'button' : 'router-link'))

const emit = defineEmit(['click'])
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
.btn {
    @apply py-2 px-4 text-white font-bold rounded inline-block focus:outline-none focus:ring;
}

.btn-green {
    @apply bg-green-500 hover:bg-green-600 focus:ring-green-400;
}

.btn-red {
    @apply bg-red-500 hover:bg-red-600 focus:ring-red-400;
}

.btn-blue {
    @apply bg-blue-600 hover:bg-blue-700 focus:ring-blue-500;
}
</style>
