<template>
    <div class="w-64 bg-blue-600 text-white h-full py-4 overflow-hidden">
        <!-- TODO: fix scrolling -->
        <!-- TODO: side indicator -->
        <!-- TODO: bigger click hitbox -->
        <div class="space-y-2 overflow-y-auto">
            <div v-for="(b, i) in buttons">
                <router-link
                    :to="b.path"
                    :class="$route.fullPath === b.path ? 'bg-blue-400' : null"
                    class="flex space-x-2 rounded-xl w-56 py-2 px-4 mx-4 hover:bg-blue-500 focus:bg-blue-500 focus:outline-none"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        width="24"
                        stroke="currentColor"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" :d="b.svg" />
                    </svg>
                    <h2 class="font-bold text-lg">{{ b.name }}</h2>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { defineEmit } from 'vue'

const buttons = [
    {
        name: 'Notes',
        path: '/notes/list',
        svg:
            'M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253',
    },
    {
        name: 'New',
        path: '/notes/new',
        svg: 'M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z',
    },
    {
        name: 'Drafts',
        path: '/notes/drafts',
        svg:
            'M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z',
    },
    {
        name: 'Trash',
        path: '/notes/trash',
        svg:
            'M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16',
    },
    /*
    {
        name: 'Tags',
        path: '/notes/tags',
        svg:
            'M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z',
    },
     */
]

const emit = defineEmit(['edit'])
</script>
