<template>
    <nav class="bg-blue-800 text-gray-200 h-16 px-4 flex items-center justify-between">
        <router-link class="text-2xl font-bold" to="/">Simplenotes</router-link>
        <base-button v-if="!loggedIn" to="/login">Login</base-button>
        <button
            v-else
            @click="togglePopup"
            class="focus:outline-none hover:bg-blue-800 box-border text-center inline-block bg-blue-700 border-blue-500 border-2 rounded-full w-10 h-10"
        >
            {{ letter }}
        </button>
        <div
            v-if="showPopup"
            class="fixed space-y-2 w-64 bg-white border border-gray-300 text-gray-800 p-2 rounded-bl-lg shadow-2xl mt-16 top-0 right-0"
        >
            <base-button class="w-full" color="blue">My account</base-button>
            <base-button class="w-full" color="red" @click="doLogout">Logout</base-button>
        </div>
    </nav>
</template>

<script lang="ts">
import { auth, loggedIn, logout } from '../auth'
import BaseButton from './BaseButton.vue'
import { computed, defineComponent, ref, watchEffect } from 'vue'

export default defineComponent({
    components: { BaseButton },
    setup() {
        const showPopup = ref(false)

        function handleKeydown(event: KeyboardEvent) {
            if (event.key === 'Escape') showPopup.value = false
        }

        watchEffect((onInvalidate) => {
            if (showPopup.value) window.addEventListener('keydown', handleKeydown)
            else window.removeEventListener('keydown', handleKeydown)

            onInvalidate(() => window.removeEventListener('keydown', handleKeydown))
        })

        function doLogout() {
            showPopup.value = false
            logout()
        }

        const letter = computed(() => auth.username?.[0]?.toUpperCase())

        function togglePopup() {
            showPopup.value = !showPopup.value
        }

        return { showPopup, loggedIn, doLogout, letter, togglePopup }
    },
})
</script>
