<template>
    <div class="w-80 h-full border-r border-l border-gray-300 overflow-y-auto">
        <div v-for="i in 7" class="px-4 py-2 border-b">
            <div class="flex">
                <span class="font-semibold text-lg">A note..</span>
                <span class="ml-auto">a day ago</span>
            </div>
            <p class="text-gray-700">
                Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi
                tomatillo melon azuki bean garlic.
            </p>
        </div>
    </div>
</template>
