<template>
    <div class="border bg-white p-8 rounded-lg space-y-2">
        <div class="flex">
            <h1 class="text-lg font-semibold">{{ note.title }}</h1>
            <span class="ml-auto">{{ note.lastModified }}</span>
        </div>
        <div class='flex space-x-2'>
            <span v-for="tag in note.tags" class="bg-gray-700 text-white rounded text-sm px-1">{{ tag }}</span>
        </div>
        <p>{{ note.content }}</p>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    props: ['note'],
})
</script>
