<template>
    <form class="h-full flex flex-col space-y-2" @submit.prevent="save">
        <BaseInput v-model="note.title" placeholder="Title" />
        <TagInput @update-tags="note.tags = $event" />
        <BaseInput
            v-model="note.content"
            @keydown.tab.exact.prevent="tab($event.target)"
            @keydown.ctrl.s.prevent="save"
            spellcheck="false"
            class="flex-1 font-mono"
            area
        />
        <BaseButton class="w-full">Save</BaseButton>
    </form>
</template>

<script lang="ts">
import BaseButton from './BaseButton.vue'
import BaseInput from './BaseInput'
import { defineComponent, reactive } from 'vue'
import TagInput from './TagInput.vue'
import { Api } from '../api'
import createNote = Api.createNote

export default defineComponent({
    components: { TagInput, BaseInput, BaseButton },
    emits: ['save'],
    setup(_, context) {
        const note = reactive({
            title: '',
            content: '',
            tags: [],
        })

        function tab(target: HTMLInputElement) {
            const position = target.selectionStart!
            note.content = note.content.slice(0, position) + '    ' + note.content.slice(position)
            target.value = note.content
            target.selectionStart = position + 4
            target.selectionEnd = position + 4
        }

        function save() {
            context.emit('save', note)
        }

        return { note, save, tab }
    },
})
</script>
