<template>
    <div class="w-full flex flex-col items-center">
        <div class="w-full shadow-xl">
            <div class="bg-blue-800 p-6 rounded-t-lg flex justify-center items-center">
                <h1 class="text-white text-center text-2xl font-bold">{{ title }}</h1>
            </div>
            <div class="bg-white p-6 pb-10 rounded-b-lg">
                <slot />
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { defineProps } from 'vue'

const props = defineProps({
    title: {
        type: String,
        required: true,
    },
})
</script>
