<template>
    <div
        class="flex flex-wrap p-2 rounded border-2 border-blue-200 box-border bg-white space-x-2 focus-within:border-blue-500"
    >
        <span v-for="tag in tags" class="bg-gray-700 text-white rounded text-sm px-1">{{ tag }}</span>
        <input
            @keydown.enter.exact.prevent="push"
            @keydown.tab.exact="push"
            @keydown.backspace.exact="erase($event)"
            @input.prevent="handleInput($event)"
            v-model="currentInputText"
            :placeholder="tags.length !== 0 ? null : 'Tags'"
            class="flex-1 focus:outline-none focus:placeholder-blue-600"
            type="text"
            aria-label="tags"
        />
    </div>
</template>

<script lang="ts">
import { defineComponent, Ref, ref } from 'vue'

export default defineComponent({
    emits: ['update-tags'],
    setup(_, context) {
        const tags: Ref<string[]> = ref([])

        const currentText = ref('')
        const currentInputText = ref('')

        function push() {
            let text = currentText.value
            if (text.length === 0) return

            if (!tags.value.includes(text)) {
                tags.value.push(text)
                context.emit('update-tags', tags.value)
            }
            currentText.value = ''
            currentInputText.value = ''
        }

        function erase(event: KeyboardEvent) {
            if (currentText.value.length === 0) {
                deleteLast()
                event.preventDefault()
            }
        }

        function deleteLast() {
            tags.value.pop()
            context.emit('update-tags', tags.value)
        }

        function handleInput(event: InputEvent) {
            if (event.inputType === 'insertText') {
                const key: string = event.data!

                if (key === '-' || key === '_' || key.match(/[a-zA-Z0-9]/)) {
                    currentText.value = currentText.value + key
                } else if (key === ' ' || key === ',') {
                    push()
                }
            } else if (event.inputType === 'deleteContentBackward') {
                currentText.value = currentText.value.substring(0, currentText.value.length - 1)
            }
            currentInputText.value = currentText.value
        }

        return { tags, currentText, currentInputText, handleInput, push, erase }
    },
})
</script>
