<template>
    <Navbar />
    <main :class="classes">
        <slot />
    </main>
</template>

<script setup lang="ts">
import { defineProps } from 'vue'
import Navbar from '../components/Navbar.vue'

const props = defineProps({
    container: {
        type: Boolean,
        default: true,
    },
})

const classes = props.container ? ['container', 'px-4', 'py-2', 'mx-auto'] : null
</script>

<style scoped>
main {
    height: calc(100vh - 4rem);
}
</style>
