<template>
    <DefaultLayout :container="false">
        <div class="flex h-full">
            <Menu @edit="editing = true" />
            <div class="flex-1 h-full p-2">
                <router-view />
            </div>
        </div>
    </DefaultLayout>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import DefaultLayout from '../../layouts/DefaultLayout.vue'
import Menu from '../../components/Menu.vue'

export default defineComponent({
    components: { DefaultLayout, Menu },
})
</script>
