<template>
    <div class="space-y-2 h-full overflow-y-auto">
        <Note v-for="note in notes" :note="note" />
    </div>
</template>

<script>
import { ref, defineComponent, onMounted } from 'vue'
import Note from '../../components/Note.vue'
import { Api } from '../../api/index'

export default defineComponent({
    components: { Note },
    setup() {
        const notes = ref([])

        onMounted(async () => (notes.value = await Api.findAllNotes()))

        return { notes }
    },
})
</script>
