<template>
    <NoteEditor @save="createNote($event)" />
</template>

<script>
import { defineComponent } from 'vue'
import { Api } from '../../api/index'
import NoteEditor from '../../components/NoteEditor.vue'

export default defineComponent({
    components: { NoteEditor },
    setup() {
        function createNote(note) {
            Api.createNote(note)
        }

        return { createNote }
    },
})
</script>
