<template>
    <DefaultLayout>
        <ul>
            <li>
                <router-link to="/login">Login</router-link>
            </li>
            <li>
                <router-link to="/notes">Notes</router-link>
            </li>
        </ul>
    </DefaultLayout>
</template>

<script setup lang="ts">
import DefaultLayout from '../layouts/DefaultLayout.vue'
</script>

<style scoped>
a {
    @apply text-blue-700 text-lg font-semibold underline;
}
</style>
