<template>
    <Centered>
        <SplitCard class="sm:w-96" title="Log in to Simplenotes">
            <form class="space-y-4" @submit.prevent="onSubmit">
                <h2 class="text-gray-700 font-semibold">Enter your username and password.</h2>
                <BaseInput placeholder="Username" v-model="form.username" />
                <BaseInput placeholder="Password" v-model="form.password" type="password" />
                <BaseButton type="submit" class="bg-blue-600 w-full shadow-lg text-white" color="blue"
                    >Login
                </BaseButton>
            </form>
        </SplitCard>
    </Centered>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue'
import { login } from '../auth'
import BaseButton from '../components/BaseButton.vue'
import BaseInput from '../components/BaseInput'
import SplitCard from '../components/SplitCard.vue'
import Centered from '../layouts/Centered.vue'

export default defineComponent({
    components: { BaseButton, BaseInput, SplitCard, Centered },
    setup() {
        const form = reactive({
            username: '',
            password: '',
        })

        async function onSubmit() {
            await login({ ...form })
        }

        return { onSubmit, form }
    },
})
</script>
